// Box Model
$form-width: 50rem;
$form-field-gap: 1rem;
$btn-padding: 0.5rem 1rem;

// Colors
$bg-clr: #ccc;
$text-clr: #333;
$border-clr: $text-clr;
$error-clr: #d71111;
$accent-clr: #095019;

.form {
	display: flex;
	flex-direction: column;
	gap: $form-field-gap;
	padding: 0 calc((100% - $form-width) / 2);

	&Submit {
		background: $bg-clr;
		color: $text-clr;
		padding: $btn-padding;
		font-weight: 700;
		// letter-spacing: 0.1em;
		// text-transform: uppercase;
	}

	&Control {
		display: grid;
		// flex-direction: column;
		gap: 0.5rem;
		min-width: 30rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content 1fr;
		grid-template-areas:
			"caption error"
			"field field";
		// flex-wrap: wrap;

		// & + & {
		// 	margin-top: 1rem;
		// }
	}
	&Key {
		grid-area: caption;
		color: $accent-clr;
	}
	&Field {
		// all input tags
		grid-area: field;
		// padding: 0.5rem;

		&Error {
			// touched & errors input
			border: 1px solid $error-clr;
		}
		&Area {
			// text area
		}

		&List {
			// Select Tag
			&Item {
				// Option Tag (of Select Tag)
			}
		}

		&Group {
			// Group for radio & checkbox options (collection of Labels and Inputs)
			display: flex;
			flex-direction: column;

			// border: 1px solid green;
			&Item {
				// Radio/Checkbox Pair of Labels and Inputs
				display: flex;
				gap: 1rem;
				align-items: center;
				&Label {
					// Radio/Checkbox Labels
				}
				&Input {
					// Radio/Checkbox Inputs
				}
			}
		}

		&Array {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			// color: #000;
			&Item {
				display: flex;
				gap: 1rem;
				// background-color: #111;
				&Input {
					flex: 0 0 85%;
					color: $text-clr;
					padding: 0.5rem;
				}
				&Button {
					flex: 0 1 15%;
					color: $text-clr;
					background: $bg-clr;
					// border: transparent;
					padding: 0.5rem 1rem;
				}
			}
			&Button {
				color: $text-clr;
				background: $bg-clr;
				// border: transparent;
				padding: 0.5rem 1rem;
			}
		}

		&PairArray {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			// color: #000;
			&Item {
				display: grid;
				grid-template-columns: 2fr 1fr 1fr;
				// grid-template-rows: repeat(2, min-content);
				grid-auto-rows: min-content;
				grid-template-areas:
					"label . button"
					"input input input";
				gap: 0.25rem 1rem;
				// background-color: #111;
				&Label {
					grid-area: label;
					// flex: 9;
					padding: 0.25rem 0.5rem;
				}
				&Input {
					grid-area: input;
					// flex: 9;
					color: $text-clr;
					padding: 0.5rem;
				}
				&Button {
					grid-area: button;
					color: $text-clr;
					background: $bg-clr;
					// border: transparent;
					// padding: 0.5rem 1rem;
				}
			}
			&Button {
				color: $text-clr;
				background: $bg-clr;
				// border: transparent;
				padding: 0.5rem 1rem;
			}
		}
	}
	&Test {
	}

	&Error {
		grid-area: error;
		justify-self: end;
		color: $error-clr;
		// flex: 1 0 10%;
		// flex: 0.5;
	}
}
